.header {
	padding: 20px 30px 0px;
	margin-bottom: 60px;
	text-decoration: none;
	&__navigation {
		display: flex;
		justify-content: space-between;
		padding: 8px 0px;
		align-items: center;
	}
	&__information {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}
	&__group {
		display: flex;
		align-items: center;
	}
	&__logo {
		font-family: 'Helvetica';
		font-weight: 800;
		font-size: 24px;
		letter-spacing: 0.01em;
		cursor: pointer;
	}
	&__cart {
		display: flex;
		align-items: center;
		position: relative;
	}
}
._icon-navigation {
	color: #ff00ff;
	font-size: 18px;
	margin: 0px 10px 0px 0px;
}
.navigation {
	&__group-item {
		display: flex;
		justify-content: center;
		cursor: pointer;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__links {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 20px;
	}
	&__link {
	}
	&__social {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 7px;
		margin-left: 20px;
		img {
			width: 32px;
			height: 32px;
		}
	}
}
._icon-cart {
	font-size: 30px;
	color: #281d55;
	margin-right: 10px;
}
.cart {
	&__button {
		background: transparent;
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
	}
	&__button-icon {
	}
	&__button-count {
		position: absolute;
		width: 17px;
		height: 17px;
		left: 12px;
		top: -4px;
		background: #ff00ff;
		box-shadow: 0 0 0 2px #fff;
		border-radius: 50px;
		font-weight: 700;
		font-size: 12px;
		line-height: 17px;
		color: #fff;
	}
	&__button-text {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #281d55;
	}
}